.recipe_item_container{

    display: flex;
    justify-content: space-between;
    background-color: rgb(226, 210, 210);
    margin: 5px;
    border-radius: 5px;
    padding: 10px;


    .recipe_image{
        width: 70px;
        height: 60px;
        padding-top: 20px;
        // padding-right: 5px;
        
        border-radius: 4px;
    }
}