<div>
    <form>
        <div style="display: flex;">
            <div style="display: flex; flex-direction: column;">
                <label class="ingredient_label">Ingredient Name: </label>
                <input type="text" placeholder="Ingredient name" required>
            </div>
            <div style="display: flex; flex-direction: column;">
                <label class="ingredient_label">Quantity: </label>
                <input type="text" placeholder="Quantity" required>
            </div>
        </div>
        
        <div>
            <button type="submit" class="common_button">Add</button>
            <button type="button" class="common_button">Clear</button>
            <button type="button" class="common_button">Delete</button>
        </div>
   
    </form>
</div>
